#grid {
    -fx-background-color: azure;
}

#hbox00 {
    -fx-border-style: hidden solid solid hidden;
    -fx-border-color: greenyellow;
}

#hbox10 {
    -fx-border-style: hidden solid solid hidden;
    -fx-border-color: greenyellow;
}

#hbox02 {
    -fx-border-style: hidden hidden solid solid;
    -fx-border-color: greenyellow;
}

#hbox01 {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: greenyellow;
}

#hbox12 {
    -fx-border-style: hidden hidden solid solid;
    -fx-border-color: greenyellow;
}

#hbox11 {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: greenyellow;
}

#hbox20 {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: greenyellow;
}

#hbox22 {
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: greenyellow;
}

.defaultColor {
    -fx-fill: azure;
    -fx-stroke: greenyellow;
}

.correctChoice {
    -fx-fill: greenyellow;
    -fx-stroke: greenyellow;
}

